#main-container {
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0px 20px;
}

@media only screen and (max-width: 600px) {
  #main-container {
    width: 100%;
    padding: 0px 10px;
  }
}

#profile-img {
  width: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin: 40px 0;
  box-shadow: 10px -10px 0 0 #198754;
}

footer {
  position: fixed;
  left: 0;
  bottom: 5vh;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: calc(1em + 0.2vw);
  color: #696969;
}

a {
  color: #212121;
}

a:hover, .platform-button:hover {
  color: #198754;
}

.platform-button {
  font-size: 42px;
}
